// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Condensed&display=swap');

// Color Definition
$dark-grey: #1E1E1E;
$yellow: #D8AA19;
$white: #ffffff;
$black: #000000;

// Font Definition
$roboto: 'Roboto Condensed', sans-serif;
$montserrat: 'Montserrat', sans-serif;