@import '_vars';
@import './modules/_hero';
@import './modules/_nav';
@import './modules/slider';
@import './modules/_about';
@import './modules/_footer';

body {
    background: #1e1e1e;
}

a:hover {
    color: $white;
}

a:visited {
    color: $white;
}

#projects {
    margin-top: 50px;
}

.strike {
    text-decoration: line-through;
}