<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Liam Keery | Toybox Toronto</title>
    <link rel="stylesheet" href="/css/foundation.css"/>
    <script src="https://kit.fontawesome.com/5a7dc109cc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" href="/css/hover.css"/>
    <link rel='stylesheet' href="/css/main.css"/>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>

    <div class="hero-full-screen">

      <div class="top-content-section">
        <div class="title-bar" data-responsive-toggle="responsive-menu"
          data-hide-for="medium">
          <div class="title-bar-left">
            <ul class="menu">
                <li><a href="/#projects"><i class="fas fa-chevron-left"></i></a></li>
            </ul>
          </div>
          {{!-- <div class="title-bar-right">
            <button class="menu-icon" type="button"
              data-toggle="responsive-menu"></button>
          </div> --}}
        </div>

        <div class="top-bar hide-for-small-only">
          <div class="top-bar-left" data-sticky-container>
            <ul class="menu" data-sticky>
                <li><a href="/#projects"><i class="fas fa-chevron-left"></i></a></li>
            </ul>
          </div>
          {{!-- <div class="top-bar-right" id="responsive-menu">
            <ul class="menu">
              <li><a href="/">Home</a></li>
              <li><a href="#projects">Work</a></li>
              <li><a href="#about">Contact</a></li>
            </ul>
          </div> --}}
        </div>
      </div>

      <div class="middle-content-section animated fadeInDown">
        <h1 class="main-title">Toybox - Advertising Material</h1>
        <hr class="title-hr">
        <h2 class="disc">Graphic Design / Art Direction</h2>
        <h3 class="role">PROFESSIONAL PROJECT</h3>
        {{!-- <p class="icons"><i class="devicon-illustrator-plain"></i><i
                class="devicon-nodejs-plain"></i><i
                class="devicon-express-original"></i><i
                class="devicon-mysql-plain-wordmark"></i><i
                class="devicon-sass-original"></i><i
                class="devicon-html5-plain-wordmark"></i></p>
                <p>View the Github repo for this project <a class="repo" href="https://github.com/lkeery/Keery_Liam_InteractiveSVG">here</a>.</p> --}}
      </div>

      <div class="bottom-content-section" data-magellan data-threshold="0">
        <a href="#main-content-section"><svg xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" viewBox="0 0 24 24"><path d="M24
              12c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12 12-5.373
              12-12zm-18.005-1.568l1.415-1.414 4.59 4.574 4.579-4.574 1.416
              1.414-5.995 5.988-6.005-5.988z" /></svg></a>
        </div>
      </div>

      <div id="main-content-section" data-magellan-target="main-content-section" class="grid-container full">

           <img src="images/toybox_logo.png" alt="Toybox">
    <h1 class="heading">Overview</h1>
    <hr class="heading-hr">
    <p class="overview-text"><b>TEAM:</b><br>Liam Keery (Graphic Designer)<br>Kevin Faria (Marketing Manager)</p>
    <p class="overview-text"><b>DISCIPLINE:</b> GRAPHIC DESIGN / ART DIRECTION</p>
    
    {{!-- <p class="overview-text"><b>STACK:</b> node.js, express.js, MySQL</p> --}}
    {{!-- <p class="overview-text"><b>LIBRARIES:</b> animate.css, vivus.js, waypoints.js, Foundation 6</p> --}}
    <p class="overview-text"><b>SOFTWARE:</b> Photoshop</p>

    <h1 class="heading">Overview</h1>
    <hr class="heading-hr">
    <p class="text">Toybox is INK Entertainment's newest 14,000 square foot entertainment and nightlife venue and become captivated by the sophisticated, state of the art interior design. I designed an advertising material concept for both local and international DJ bookings at the venue.</p>

    <h1 class="heading">The Design</h1>
    <hr class="heading-hr">

    <img src="images/toybox_ff_post.jpg" alt="Toybox" style="min-width: 350px;">
    <img src="images/toybox_ff_IG.jpg" alt="Toybox" style="min-width: 350px;">
    <img src="images/toybox_laidback_luke_admat_post.jpg" alt="Toybox" style="min-width: 350px;">
    <img src="images/toybox_laidback_luke_admat_IG.jpg" alt="Toybox" style="min-width: 350px;">
    <img src="images/toybox_laidback_luke_admat_banner.jpg" alt="Toybox" style="min-width: 350px;">
    


    <footer class="cell">
          <p class="footer-text">
            Copyright &copy; 2022 Liam Keery.
          </p>
          <hr>
          <nav class="footer-nav">
          <ul class="menu align-center">
              <li><a href="/">Home</a></li>
              <li><a href="/#projects">Work</a></li>
              {{!-- <li><a href="https://docdro.id/IflNaGa">Resume</a></li> --}}
              <li><a href="/#about">Contact</a></li>
            </ul>
            </nav>
          </footer>
      </div>

   

    <script async src="https://unpkg.com/typer-dot-js@0.1.0/typer.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/body-scroll-lock@2.6.4/lib/bodyScrollLock.min.js"></script>
    <script src="dist/js/vendor/jquery.js"></script>
    <script src="dist/js/vendor/what-input.js"></script>
    <script src="dist/js/vendor/foundation.js"></script>
    <script src="dist/js/app.js"></script>
    <script type="module" src="dist/js/main.js"></script>
</body>
</html>