<div class="grid-x" id="projects">
  <div class="cell">
    {{!-- <object type="image/svg+xml" data="images/ux.svg"></object> --}}
    <div class="orbit" role="region" aria-label="Projects" data-orbit
      data-auto-play="false">
      <ul class="orbit-container">
        <button class="orbit-previous" aria-label="previous"><span
            class="show-for-sr">Previous Slide</span>&#9664;</button>
        <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next
            Slide</span>&#9654;</button>
        <li class="orbit-slide">
          <div class="column-left">
            <h1>INK Venues</h1>
            <h2>UX/UI DESIGN</h2>
            <h3><a href="http://inkvenues.com">http://inkvenues.com</a></h3>
            <p class="icons"><i class="devicon-figma-plain"></i></p>
            <a href="/inkvenues" class="hvr-pulse-grow call-to-action" data-target="1">View Details</a>
          </div>
          <div class="column-right hide-for-small-only">
            <img style="max-width: 500px;" src="images/ink_venues_home.png" alt="INK Venues">
          </div>
        </li>
        <li class="orbit-slide">
          <div class="column-left">
            <h1>Toybox AdMat</h1>
            <h2>GRAPHIC DESIGN / ART DIRECTION</h2>
            <h3>PROFESSIONAL PROJECT</h3>
            <p class="icons"><i class="devicon-photoshop-plain"></i></p>
            <a href="/toybox" class="hvr-pulse-grow call-to-action" data-target="1">View Details</a>
          </div>
          <div class="column-right hide-for-small-only">
            <img src="images/toybox_logo.png" alt="Toybox">
          </div>
        </li>
        <li class="orbit-slide">
          <div class="column-left">
            <h1>RBC Expand</h1>
            <h2>GRAPHIC DESIGN / UX DESIGN</h2>
            <h3>PROFESSIONAL PROJECT</h3>
            <p class="icons"><i class="devicon-figma-plain"></i><i class="devicon-illustrator-plain"></i><i class="devicon-photoshop-plain"></i></p>
            <a href="/rbc-expand" class="hvr-pulse-grow call-to-action" data-target="1">View Details</a>
          </div>
          <div class="column-right hide-for-small-only">
            <img style="max-width: 500px;" src="images/rbc_expand_mockup.png" alt="RBC Expand">
          </div>
        </li>
        <li class="orbit-slide">
          <div class="column-left">
            <h1>Ippolito Transportation</h1>
            <h2>UX/UI DESIGN / WEB DEVELOPMENT</h2>
            <h3><a href="http://ippolitotransportation.com">http://ippolitotransportation.com</a></h3>
            <p class="icons"><i class="devicon-figma-plain"></i><i class="devicon-sass-original"></i>
              <i class="devicon-bootstrap-plain-wordmark"></i><i
                class="devicon-html5-plain-wordmark"></i></p>
            <a href="/ippolito-transportation" class="hvr-pulse-grow call-to-action" data-target="1">View Details</a>
          </div>
          <div class="column-right hide-for-small-only">
            <img style="max-width: 500px;" src="images/ippolito_transportation_mockup.png" alt="Ippolito Transportation">
          </div>
        </li>
        <li class="orbit-slide">
          <div class="column-left">
            <h1>Ippolito Produce</h1>
            <h2>UX/UI DESIGN / WEB DEVELOPMENT</h2>
            <h3><a href="http://ippolitoproduce.com">http://ippolitoproduce.com</a></h3>
            <p class="icons"><i class="devicon-figma-plain"></i><i class="devicon-sass-original"></i>
              <i class="devicon-bootstrap-plain-wordmark"></i><i
                class="devicon-html5-plain-wordmark"></i></p>
            <a href="/ippolito-produce" class="hvr-pulse-grow call-to-action" data-target="1">View Details</a>
          </div>
          <div class="column-right hide-for-small-only">
            <img style="max-width: 500px;" src="images/ippolito_produce_home.png" alt="Ippolito produce">
          </div>
        </li>
        <li class="orbit-slide">
          <div class="column-left">
            <h1>Spotify Infographic</h1>
            <h2>UX/UI DESIGN / WEB DEVELOPMENT</h2>
            <h3>PERSONAL PROJECT</h3>
            <p class="icons"><i class="devicon-illustrator-plain"></i><i
                class="devicon-nodejs-plain"></i><i
                class="devicon-express-original"></i><i
                class="devicon-mysql-plain-wordmark"></i><i
                class="devicon-sass-original"></i><i
                class="devicon-html5-plain-wordmark"></i></p>
            <a href="/spotify" class="hvr-pulse-grow call-to-action" data-target="1">View Case Study</a>
          </div>
          <div class="column-right hide-for-small-only">
            <img class="mockup" src="images/spotify-mockup.png" alt="Spotify">
          </div>
        </li>
        <li class="orbit-slide">
          <div class="column-left">
            <h1>Organ Donor Campaign</h1>
            <h2>UX/UI DESIGN / DIGITAL MARKETING</h2>
            <h3>TEAM PROJECT</h3>
            <p class="icons"><i class="devicon-photoshop-plain"></i></p>
            {{!-- <span class="call-to-action" data-target="2">View Case Study</span> --}}
            <a href="/organ-campaign" class="hvr-pulse-grow call-to-action" data-target="1">View Case Study</a>
          </div>
          <div class="column-right hide-for-small-only">
            <img class="mockup" src="images/organ-mockup.png" alt="Spotify">
          </div>
        </li>
        <li class="orbit-slide cell small-6 columns">
          <div class="column-left">
            <h1>PEAK</h1>
            <h2>UX/UI DESIGN</h2>
            <h3>PERSONAL PROJECT</h3>
            <p><img src="images/sketch.svg" alt="Sketch"></p>
            <a href="/peak" class="hvr-pulse-grow call-to-action" data-target="3">View Details</a>
          </div>
          <div class="column-right hide-for-small-only">
            <img class="projectImg" src="images/peak-mockup.png" alt="Peak">
          </div>
        </li>

        <li class="orbit-slide cell small-6 columns">
          <div class="column-left">
            <h1>Ontario Summer (Hackathon)</h1>
            <h2>UX/UI DESIGN</h2>
            <h3>TEAM PROJECT</h3>
            <p><img src="images/sketch.svg" alt="Sketch"></p>
            <a href="/ontario-summer" class="hvr-pulse-grow call-to-action" data-target="3">View Details</a>
          </div>
          <div class="column-right hide-for-small-only">
            <img class="mockup" src="images/ontario-mockup.png" alt="Ontario Summer">
          </div>
        </li>

        <li class="orbit-slide cell small-6 columns">
          <div class="column-left">
            <h1>Roku Web App</h1>
            <h2>UX/UI DESIGN / WEB DEVELOPMENT</h2>
            <h3>PERSONAL PROJECT</h3>
            <p class="icons">
              <i class="devicon-vuejs-plain"></i>
              <i class="devicon-php-plain"></i>
              <i class="devicon-mysql-plain-wordmark"></i>
              <i class="devicon-sass-original"></i>
              <i class="devicon-gulp-plain"></i>
              <i class="devicon-bootstrap-plain-wordmark"></i>
            </p>
            <a href="/roku" class="hvr-pulse-grow call-to-action" data-target="3">View Details</a>
          </div>
          <div class="column-right hide-for-small-only">
            <img class="mockup" src="images/roku-mockup.png" alt="Roku">
          </div>
        </li>

        <li class="orbit-slide cell small-6 columns">
          <div class="column-left">
            <h1>Chatr</h1>
            <h2>UX/UI DESIGN / WEB DEVELOPMENT</h2>
            <h3>PERSONAL PROJECT</h3>
            <p class="icons">
              <i class="devicon-vuejs-plain"></i>              
              <i class="devicon-sass-original"></i>
              <i class="devicon-bootstrap-plain-wordmark"></i>
            </p>
            <a href="/chatr" class="hvr-pulse-grow call-to-action" data-target="3">View Details</a>
          </div>
          <div class="column-right hide-for-small-only">
            <img class="mockup" src="images/chatr-mockup.png" alt="Chatr">
          </div>
        </li>

        <li class="orbit-slide cell small-6 columns">
          <div class="column-left">
            <h1>Vivid Agency (Hackathon)</h1>
            <h2>UX/UI DESIGN</h2>
            <h3>TEAM PROJECT</h3>
            <p><img src="images/sketch.svg" alt="Sketch"></p>
            <a href="/vivid" class="hvr-pulse-grow call-to-action" data-target="3">View Details</a>
          </div>
          <div class="column-right hide-for-small-only">
            <img class="mockup" src="images/vivid-mockup.png" alt="Vivid">
          </div>
        </li>

        <li class="orbit-slide cell small-6 columns">
          <div class="column-left">
            <h1>Housecom ThermoSecurity System (Hackathon)</h1>
            <h2>UX/UI DESIGN / WEB DEVELOPMENT</h2>
            <h3>TEAM PROJECT</h3>
            <p class="icons">
              <i class="devicon-nodejs-plain"></i>             
              <i class="devicon-express-original"></i>
              <i class="devicon-foundation-plain"></i>
              <i class="devicon-mysql-plain-wordmark"></i>
              <i class="devicon-sass-original"></i>
            </p>
            <a href="/housecom" class="hvr-pulse-grow call-to-action" data-target="3">View Details</a>
          </div>
          <div class="column-right hide-for-small-only">
            <img class="mockup" src="images/housecom-mockup.png" alt="Housecom">
          </div>
        </li>

        <li class="orbit-slide cell small-6 columns">
          <div class="column-left">
            <h1>Sportchek Crud CMS</h1>
            <h2>WEB DEVELOPMENT</h2>
            <h3>TEAM PROJECT</h3>
            <p class="icons">         
              <i class="devicon-php-plain"></i>
              <i class="devicon-mysql-plain-wordmark"></i>
              <i class="devicon-sass-original"></i>
              <i class="devicon-bootstrap-plain-wordmark"></i>
            </p>
            <a href="/sportchek" class="hvr-pulse-grow call-to-action" data-target="3">View Details</a>
          </div>
          <div class="column-right hide-for-small-only">
            <img class="mockup" src="images/cms-mockup.png" alt="Sportchek Crud CMS">
          </div>
        </li>

        <li class="orbit-slide" id="motion">
          <h1 class="motion-heading">MOTION DESIGN REEL</h1>        
            <video controls>
              <source src="video/motion-reel.mp4" type="video/mp4">
              <source src="video/motion-reel.ogg" type="video/ogg">
              <source src="video/motion-reel.webm" type="video/webm">
              Your browser does not support the video tag.
            </video>
            <p class="text-center" style="margin-top: 20px;">Renders created with Cinema 4D &amp; After Affects.</p>
        </li>
      </ul>
      <nav class="orbit-bullets">
        <button class="is-active" data-slide="0"><span class="show-for-sr">First
            slide details.</span><span class="show-for-sr">Current Slide</span></button>
        <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
        <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
        <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
        <button data-slide="4"><span class="show-for-sr">Fifth slide details.</span></button>
        <button data-slide="5"><span class="show-for-sr">Sixth slide details.</span></button>
        <button data-slide="6"><span class="show-for-sr">Seventh slide details.</span></button>
        <button data-slide="7"><span class="show-for-sr">Eighth slide details.</span></button>
        <button data-slide="8"><span class="show-for-sr">Ninth slide details.</span></button>
        <button data-slide="9"><span class="show-for-sr">Tenth slide details.</span></button>
        <button data-slide="10"><span class="show-for-sr">Eleventh slide details.</span></button>
        <button data-slide="11"><span class="show-for-sr">Twelve slide details.</span></button>
        <button data-slide="12"><span class="show-for-sr">Thirteen slide details.</span></button>
        <button data-slide="13"><span class="show-for-sr">Fourteen slide details.</span></button>
        <button data-slide="14"><span class="show-for-sr">Fifteen slide details.</span></button>
      </nav>
    </div>
  </div>
</div>

<div class="grid-x" id="skills">
  <div class="cell large-4 columns" id="software">
    
    <h1>Software</h1>
    <hr>
    <div class="list-center">
    <ul>
      <li>Sketch</li>
      <li>Figma</li>
      <li>Adobe XD</li>
      <li>InVision</li>
      <li>Photoshop</li>
      <li>Illustrator</li>
      <li>InDesign</li>
    </ul>
    <ul>
      <li>After Affects</li>
      <li>Adobe Lightroom</li>
      <li>Cinema 4D</li> 
      <li>Slack</li>
      <li>Jira</li>
      <li>Microsoft Office</li>
      <li>Mockflow</li>
    </ul>
    </div>
  </div>
  <div class="cell large-4 columns" id="design">
    
    <h1>Design Skills</h1>
    <hr>
    <div class="list-center">
    <ul>
      <li>Rapid Prototyping</li>
      <li>Journey Maps</li>
      <li>Wireframing</li>
      <li>Styleguides</li>
      <li>Agile Methodology</li>
      <li>Motion Design</li>
      <li>Animation</li>
      <li>Photography</li>
      <li>Videography</li>
    </ul>
    </div>
  </div>
  <div class="cell large-4 columns" id="development">
    
    <h1>Development Skills</h1>
    <hr>
    <div class="list-center">
    <ul>
      <li>HTML5</li>
      <li>CSS</li>
      <li>Javascript</li>
      <li>Java</li>
      <li>React</li>
      <li>Vue</li>
      <li>Express</li>
      <li>Node</li>
      <li>Bootstrap</li>
    </ul>
    <ul>
      <li>Foundation 6</li>
      <li>Sass</li>
      <li>MySQL</li>
      <li>PHP</li>
      <li>LAMP/CRUD</li>
      <li>REST APIs</li>
      <li>Postman</li>
      <li>Automation</li>
      <li>Cucumber</li>
    </ul>
    </div>
  </div>
</div>


<div class="grid-x" id="about">
  <div class="cell large-6 columns">
    <img class="headshot" src="images/headshot.svg" alt="Liam">
    <h1 style="margin-top: 0;">Hi, I'm Liam.</h1>
    <hr>
    <p class="about-text">I'm a Multi-Disciplinary Creative based in Toronto, Ontario with over 5 years of design experience. I specialize in Product Design, UX Design, &amp; Web Development.</p>
  </div>
  <div class="cell large-6 columns">
    <h1>Let's Build Something Great</h1>
    <p class="contact-text">Got a project? Let's chat.<br>I'll be sure to get back to you within 24 hours.</p>
    <hr>

    <form id="contact-form">

      <div class="grid-x grid-padding-x">
        <div class="small-10 cell contact">

          <input type="text" placeholder="Your Name" class="form-input"
            required name="name">

          <input type="email" placeholder="Your Email" class="form-input"
            required name="usermail">

          <textarea rows="4" cols="50" placeholder="Your Message"
            class="form-input" name="message" required id="user-message"></textarea>
          <button type="submit" class="submit">Submit</button>
          <br>
          <span class="success"></span>
          <span class="error"></span>
        </div>
      </div>

    </form>
  </div>

  <div id="project-modal" class="modal hide">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h1 class="title"></h1>
      <p class="team desc-text"></p>
      <p class="discipline desc-text"></p>
      <p class="stack desc-text"></p>
      <p class="libraries desc-text"></p>
      <p class="software desc-text"></p>
      <p class="task"></p>
      <img src="{{projectData.img}}" class="modal-img" alt="">
    </div>
  </div>
</div>