<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Liam Keery is a Multi-Disciplinary Creative based in Toronto, Ontario.">
    <meta name="keywords" content="Liam Keery, Keery, Web Developer, Designer, UX Designer, Product Designer, Toronto, Ontario, Canada, Talent, Freelance">
    <meta name="author" content="Liam Keery">
    <title>Liam Keery | Multi-Disciplinary Creative</title>
    <link rel="stylesheet" href="/css/foundation.css"/>
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/hover.css"/>
    <link rel='stylesheet' href="/css/main.css"/>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="hero-full-screen">

      <div class="top-content-section">
        <div class="title-bar" data-responsive-toggle="responsive-menu"
          data-hide-for="medium">
          <div class="title-bar-left">
            <a href="/">
              <object class="logo-small" type="image/svg+xml" data="images/logo.svg"></object>
            </a>
          </div>
          <div class="title-bar-right">
            <button class="menu-icon" type="button"
              data-toggle="responsive-menu"></button>
          </div>
        </div>

        <div class="top-bar">
          <div class="top-bar-left">
            <a href="/">
              <object class="hide-for-small-only logo" type="image/svg+xml" data="images/logo.svg"></object>
            </a>
          </div>
          <div class="top-bar-right" id="responsive-menu">
            <ul class="menu" data-magellan data-threshold="0">
              <li><a href="/">Home</a></li>
              <li><a href="#projects">Work</a></li>
              <li><a href="/includes/Liam-Keery-Resume.pdf" download>CV</a></li>
              <li><a href="#about">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="middle-content-section" data-magellan data-threshold="0">
        <h1 class="hello">Hi, I'm Liam.</h1>
        <h2 class="tagline">I'm a 
          <span class="typer" id="main" data-words="Product Designer,Web Developer,Motion Designer,Photographer,DJ/Producer,Multi-Disciplinary Creative" data-delay="85" data-deleteDelay="1000" data-colors="#D8AA19"></span>
          <span class="cursor" data-owner="main"></span>
        </h2>
        <a class="call-to-action hvr-pulse-grow" href="#main-content-section">See What I Do</a>
      </div>

      <div class="bottom-content-section" data-magellan data-threshold="0">
        <a href="#main-content-section"><svg xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" viewBox="0 0 24 24"><path d="M24
              12c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12 12-5.373
              12-12zm-18.005-1.568l1.415-1.414 4.59 4.574 4.579-4.574 1.416
              1.414-5.995 5.988-6.005-5.988z" /></svg></a>
        </div>
      </div>

      <div id="main-content-section" data-magellan-target="main-content-section" class="grid-container full">
        {{{body}}}
        <footer class="cell">
          <p class="footer-text">
            Copyright &copy; 2020 Liam Keery.
          </p>
          <hr>
          <nav class="icons-nav">
          <ul class="menu align-center">
              <li><a href="https://www.linkedin.com/in/liam-k-7686bba6/"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="https://github.com/liamkeery"><i class="fab fa-github-square"></i></a></li>
              <li><a href="https://dribbble.com/liamkeery"><i class="fab fa-dribbble-square"></i></a></li>
            </ul>
            </nav>
          </footer>
      </div>

      
      <script async src="https://unpkg.com/typer-dot-js@0.1.0/typer.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/body-scroll-lock@2.6.4/lib/bodyScrollLock.min.js"></script>
      <script src="dist/js/vendor/jquery.js"></script>
      <script src="dist/js/vendor/what-input.js"></script>
      <script src="dist/js/vendor/foundation.js"></script>
      <script src="dist/js/app.js"></script>
      <script type="module" src="dist/js/main.js"></script>
    </body>
  </html>
