<!DOCTYPE html>
<html>
  <head>
    <title>Liam Keery | Multi-Disciplinary Creative</title>
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel='stylesheet' href='/css/main.css' />
  </head>
  <body>
    {{{body}}}
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
    <script type="module" src="js/main.js"></script>
  </body>
</html>
