<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Liam Keery | Organ Donor Campaign</title>
        <link rel="stylesheet" href="/css/foundation.css" />
        <script src="https://kit.fontawesome.com/5a7dc109cc.js"
            crossorigin="anonymous"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
        <link rel="stylesheet"
            href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
        <link rel="stylesheet" href="/css/hover.css" />
        <link rel='stylesheet' href="/css/main.css" />
        <link rel="shortcut icon" href="/images/favicon.ico"
            type="image/x-icon">
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    </head>
    <body>

        <div class="hero-full-screen">

            <div class="top-content-section">
                <div class="title-bar" data-responsive-toggle="responsive-menu"
                    data-hide-for="medium">
                    <div class="title-bar-left">
                        <ul class="menu">
                            <li><a href="/#projects"><i class="fas
                                        fa-chevron-left"></i></a></li>
                        </ul>
                    </div>
                    {{!-- <div class="title-bar-right">
                        <button class="menu-icon" type="button"
                            data-toggle="responsive-menu"></button>
                    </div> --}}
                </div>

                <div class="top-bar hide-for-small-only">
                    <div class="top-bar-left" data-sticky-container>
                        <ul class="menu" data-sticky>
                            <li><a href="/#projects"><i class="fas
                                        fa-chevron-left"></i></a></li>
                        </ul>
                    </div>
                    {{!-- <div class="top-bar-right" id="responsive-menu">
                        <ul class="menu">
                            <li><a href="/">Home</a></li>
                            <li><a href="#projects">Work</a></li>
                            <li><a href="#about">Contact</a></li>
                        </ul>
                    </div> --}}
                </div>
            </div>

            <div class="middle-content-section animated fadeInDown">
                <h1 class="main-title">Organ Donor Campaign</h1>
                <hr class="title-hr">
                <h2 class="disc">UX / UI DESIGN | DIGITAL MARKETING</h2>
                <h3 class="role">TEAM PROJECT</h3>
                <p class="icons">
                    <i class="devicon-photoshop-plain"></i>
                    {{!-- <i
                        class="devicon-nodejs-plain"></i><i
                        class="devicon-express-original"></i><i
                        class="devicon-mysql-plain-wordmark"></i><i
                        class="devicon-sass-original"></i><i
                        class="devicon-html5-plain-wordmark"></i></p>
                <p>View the Github repo for this project <a class="repo"
                        href="https://github.com/lkeery/Keery_Liam_InteractiveSVG">here</a>.</p>
                --}}
            </div>

            <div class="bottom-content-section" data-magellan
                data-threshold="0">
                <a href="#main-content-section"><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24" height="24" viewBox="0 0 24 24"><path d="M24
                            12c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12
                            12 12 12-5.373
                            12-12zm-18.005-1.568l1.415-1.414 4.59 4.574
                            4.579-4.574 1.416
                            1.414-5.995 5.988-6.005-5.988z" /></svg></a>
                </div>
            </div>

            <div id="main-content-section"
                data-magellan-target="main-content-section"
                class="grid-container full">

                <img src="images/organ-mockup.png" alt="Spotify Infographic" style="min-width: 350px;"> 
                <h1 class="heading">Overview</h1>
                <hr class="heading-hr">
                <p class="overview-text"><b>TEAM:</b> Liam Keery, Noah Fainer,
                    Natalie Soberano</p>
                <p class="overview-text"><b>DISCIPLINE:</b> UX/UI Design,
                    Digital Marketing, Advertising</p>
                {{!-- <p class="overview-text"><b>STACK:</b> node.js,
                    express.js, MySQL</p> --}}
                {{!-- <p class="overview-text"><b>LIBRARIES:</b> animate.css,
                    vivus.js, waypoints.js, Foundation 6</p> --}}
                <p class="overview-text"><b>SOFTWARE:</b> Adobe Photoshop,
                    Sketch</p>

                <h1 class="heading">The Task</h1>
                <hr class="heading-hr">
                <p class="text">The task of this assignment was to create a
                    digital marketing campaign for a new medical procedure known
                    as organ regeneration. The goal was to create a campaign
                    that could breakdown an otherwise complex procedure and
                    bring awareness to this process in a way that is easy to
                    understand. Our deliverables included a responsive website
                    design, billboard ad, subway and bus stop ad, print
                    brochure, and campaign video. My role in this project was
                    the UX/UI Designer and Graphics Designer, and my task was to
                    create the web design and billboard/bus ads. My role in this
                    project was the UX/UI Designer.</p>

                <h1 class="heading">The Design</h1>
                <hr class="heading-hr">
                <p class="text">The first step for us was defining our campaign
                    message. We wanted a message that was clear and impactful,
                    with relation to our topic of organ regeneration. We settled
                    on the The Missing Piece for our campaign messaging, which
                    we felt met the conditions of being both impactful, clear,
                    and relatable to our cause.</p>
                <p class="text">The colors we chose reflected the serious
                    message we needed to convey to our audience. Since the
                    campaign would be dealing with a medicine related topic, we
                    chose a warm red for our primary color since it is
                    associated with the health and medicine industry.</p>
                <img src="images/organ-colors.svg" alt="Spotify Brand Colors"
                    class="colors">
                <p class="text">For the type, I chose the Anton font
                    paired with IBM Plex Serif. Getting our message across
                    effectively was the main purpose of this project, so I
                    choose two fonts that represented clarity and confidence to convey a sense of trust.</p>
                <br>
                <img src="images/organ-type-heading.png" alt="Anton Font"
                    class="type">
                <br>
                <img src="images/organ-type-body.png" alt="IBM Plex Serif"
                    class="type">

                <h1 class="heading">Design Deliverable</h1>
                <hr class="heading-hr">
                <img src="images/organ-layout.jpg" alt="Organ Design" style="min-width: 350px;">

                <h1 class="heading">Other Deliverables</h1>
                <hr class="heading-hr">
                <img src="images/bus_ad.png" style="min-width: 350px;">
                <img src="images/billboard.png" style="min-width: 350px;">


                <footer class="cell">
                    <p class="footer-text">
                        Copyright &copy; 2022 Liam Keery.
                    </p>
                    <hr>
                    <nav class="footer-nav">
                        <ul class="menu align-center">
                            <li><a href="/">Home</a></li>
                            <li><a href="/#projects">Work</a></li>
                            <li><a href="https://docdro.id/IflNaGa">Resume</a></li>
                            <li><a href="/#about">Contact</a></li>
                        </ul>
                    </nav>
                </footer>
            </div>



            <script async src="https://unpkg.com/typer-dot-js@0.1.0/typer.js"></script>
            <script
                src="https://cdn.jsdelivr.net/npm/body-scroll-lock@2.6.4/lib/bodyScrollLock.min.js"></script>
            <script src="dist/js/vendor/jquery.js"></script>
            <script src="dist/js/vendor/what-input.js"></script>
            <script src="dist/js/vendor/foundation.js"></script>
            <script src="dist/js/app.js"></script>
            <script type="module" src="dist/js/main.js"></script>
        </body>
    </html>