<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Liam Keery | Roku Web App</title>
    <link rel="stylesheet" href="/css/foundation.css"/>
    <script src="https://kit.fontawesome.com/5a7dc109cc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" href="/css/hover.css"/>
    <link rel='stylesheet' href="/css/main.css"/>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>

    <div class="hero-full-screen">

      <div class="top-content-section">
        <div class="title-bar" data-responsive-toggle="responsive-menu"
          data-hide-for="medium">
          <div class="title-bar-left">
            <ul class="menu">
                <li><a href="/#projects"><i class="fas fa-chevron-left"></i></a></li>
            </ul>
          </div>
          {{!-- <div class="title-bar-right">
            <button class="menu-icon" type="button"
              data-toggle="responsive-menu"></button>
          </div> --}}
        </div>

        <div class="top-bar hide-for-small-only">
          <div class="top-bar-left" data-sticky-container>
            <ul class="menu" data-sticky>
                <li><a href="/#projects"><i class="fas fa-chevron-left"></i></a></li>
            </ul>
          </div>
          {{!-- <div class="top-bar-right" id="responsive-menu">
            <ul class="menu">
              <li><a href="/">Home</a></li>
              <li><a href="#projects">Work</a></li>
              <li><a href="#about">Contact</a></li>
            </ul>
          </div> --}}
        </div>
      </div>

      <div class="middle-content-section animated fadeInDown">
        <h1 class="main-title">Roku Web App</h1>
        <hr class="title-hr">
        <h2 class="disc">WEB DEVELOPMENT / UX DESIGN</h2>
        <h3 class="role">PERSONAL PROJECT</h3>
        <p class="icons">
              <i class="devicon-vuejs-plain"></i>
              <i class="devicon-php-plain"></i>
              <i class="devicon-mysql-plain-wordmark"></i>
              <i class="devicon-sass-original"></i>
              <i class="devicon-gulp-plain"></i>
              <i class="devicon-bootstrap-plain-wordmark"></i>
            </p>
                {{!-- <p>View the Github repo for this project <a class="repo" href="https://github.com/lkeery/Keery_Liam_InteractiveSVG">here</a>.</p> --}}
      </div>

      <div class="bottom-content-section" data-magellan data-threshold="0">
        <a href="#main-content-section"><svg xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" viewBox="0 0 24 24"><path d="M24
              12c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12 12-5.373
              12-12zm-18.005-1.568l1.415-1.414 4.59 4.574 4.579-4.574 1.416
              1.414-5.995 5.988-6.005-5.988z" /></svg></a>
        </div>
      </div>

      <div id="main-content-section" data-magellan-target="main-content-section" class="grid-container full">

           <img src="images/roku-mockup.png" alt="Roku" style="min-width: 350px;">
    <h1 class="heading">Overview</h1>
    <hr class="heading-hr">
    <p class="overview-text"><b>TEAM:</b> Personal</p>
    <p class="overview-text"><b>DISCIPLINE:</b> UX/UI Design / Web Development</p>
    <p class="overview-text"><b>STACK:</b> node.js, MySQL, PHP, Vue.js, Sass</p>
    <p class="overview-text"><b>LIBRARIES:</b> Bootstrap, Gulp</p>
    <p class="overview-text"><b>SOFTWARE:</b> Sketch, InVision, Visual Studio Code</p>

    <h1 class="heading">The Task</h1>
    <hr class="heading-hr">
    <p class="text">The task of this project was to build a fully fuctional multimedia web application with a custom API using the LAMP (Linux, Apache, MySQL, PHP) stack for the backend. The front-end of the application is built using Vue. My role in this project is both the designer and developer. Please note that this is an on-going project; Deliverables will be added and updated periodically as this project progresses.</p>

    <h1 class="heading">The Design</h1>
    <hr class="heading-hr">

    <img src="images/roku-splash.png" alt="Roku" style="min-width: 350px;">
    <img src="images/roku-login.png" alt="Roku" style="min-width: 350px;">
    <img src="images/roku-admin.png" alt="Roku" style="min-width: 350px;">
    
    <footer class="cell">
          <p class="footer-text">
            Copyright &copy; 2020 Liam Keery.
          </p>
          <hr>
          <nav class="footer-nav">
          <ul class="menu align-center">
              <li><a href="/">Home</a></li>
              <li><a href="/#projects">Work</a></li>
              <li><a href="/includes/Liam-Keery-Resume.pdf" download>CV</a></li>
              <li><a href="/#about">Contact</a></li>
            </ul>
            </nav>
          </footer>
      </div>

   

    <script async src="https://unpkg.com/typer-dot-js@0.1.0/typer.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/body-scroll-lock@2.6.4/lib/bodyScrollLock.min.js"></script>
    <script src="dist/js/vendor/jquery.js"></script>
    <script src="dist/js/vendor/what-input.js"></script>
    <script src="dist/js/vendor/foundation.js"></script>
    <script src="dist/js/app.js"></script>
    <script type="module" src="dist/js/main.js"></script>
</body>
</html>