<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Liam Keery | Sportchek Crud CMS</title>
        <link rel="stylesheet" href="/css/foundation.css" />
        <script src="https://kit.fontawesome.com/5a7dc109cc.js"
            crossorigin="anonymous"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
        <link rel="stylesheet"
            href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
        <link rel="stylesheet" href="/css/hover.css" />
        <link rel='stylesheet' href="/css/main.css" />
        <link rel="shortcut icon" href="/images/favicon.ico"
            type="image/x-icon">
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    </head>
    <body>

        <div class="hero-full-screen">

            <div class="top-content-section">
                <div class="title-bar" data-responsive-toggle="responsive-menu"
                    data-hide-for="medium">
                    <div class="title-bar-left">
                        <ul class="menu">
                            <li><a href="/#projects"><i class="fas
                                        fa-chevron-left"></i></a></li>
                        </ul>
                    </div>
                    {{!-- <div class="title-bar-right">
                        <button class="menu-icon" type="button"
                            data-toggle="responsive-menu"></button>
                    </div> --}}
                </div>

                <div class="top-bar hide-for-small-only">
                    <div class="top-bar-left" data-sticky-container>
                        <ul class="menu" data-sticky>
                            <li><a href="/#projects"><i class="fas
                                        fa-chevron-left"></i></a></li>
                        </ul>
                    </div>
                    {{!-- <div class="top-bar-right" id="responsive-menu">
                        <ul class="menu">
                            <li><a href="/">Home</a></li>
                            <li><a href="#projects">Work</a></li>
                            <li><a href="#about">Contact</a></li>
                        </ul>
                    </div> --}}
                </div>
            </div>

            <div class="middle-content-section animated fadeInDown">
                <h1 class="main-title">Sportchek Crud CMS</h1>
                <hr class="title-hr">
                <h2 class="disc">Web Development</h2>
                <h3 class="role">TEAM PROJECT</h3>
                <p class="icons">
              <i class="devicon-php-plain"></i>
              <i class="devicon-mysql-plain-wordmark"></i>
              <i class="devicon-sass-original"></i>
              <i class="devicon-bootstrap-plain-wordmark"></i>
            </p>
            <p>View the <a class="repo" href="https://github.com/lkeery/Keery_L_3014_CMS">Github repository</a> for this project.</p>
            </div>

            <div class="bottom-content-section" data-magellan
                data-threshold="0">
                <a href="#main-content-section"><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24" height="24" viewBox="0 0 24 24"><path d="M24
                            12c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12
                            12 12 12-5.373
                            12-12zm-18.005-1.568l1.415-1.414 4.59 4.574
                            4.579-4.574 1.416
                            1.414-5.995 5.988-6.005-5.988z" /></svg></a>
                </div>
            </div>

            <div id="main-content-section"
                data-magellan-target="main-content-section"
                class="grid-container full">

                <img src="images/cms-mockup.png" alt="Sportcheck CMS" style="min-width: 400px;">
                <h1 class="heading">Overview</h1>
                <hr class="heading-hr">
                <p class="overview-text"><b>TEAM:</b> Liam Keery, Noah Fainer</p>
                <p class="overview-text"><b>DISCIPLINE:</b> Web Development</p>
                {{!-- <p class="overview-text"><b>STACK:</b> node.js,
                    express.js, MySQL</p> --}}
                {{!-- <p class="overview-text"><b>LIBRARIES:</b> animate.css,
                    vivus.js, waypoints.js, Foundation 6</p> --}}
                <p class="overview-text"><b>SOFTWARE:</b> Visual Studio Code</p>
                    

                <h1 class="heading">The Task</h1>
                <hr class="heading-hr">
                <p class="text">
                    Our task was to create a Crud (Create, read, update, and delete) Content Management System for Sportchek. We used a PHP and MySQL backend with Bootstrap for our front-end UI. My role in this project was the designer and developer. This project was more focused on proof-of-concept and implementation rather than design.
                </p>

                <footer class="cell">
                    <p class="footer-text">
                        Copyright &copy; 2019 Liam Keery.
                    </p>
                    <hr>
                    <nav class="footer-nav">
                        <ul class="menu align-center">
                            <li><a href="/">Home</a></li>
                            <li><a href="/#projects">Work</a></li>
                            <li><a href="https://docdro.id/IflNaGa">Resume</a></li>
                            <li><a href="/#about">Contact</a></li>
                        </ul>
                    </nav>
                </footer>
            </div>



            <script async src="https://unpkg.com/typer-dot-js@0.1.0/typer.js"></script>
            <script
                src="https://cdn.jsdelivr.net/npm/body-scroll-lock@2.6.4/lib/bodyScrollLock.min.js"></script>
            <script src="dist/js/vendor/jquery.js"></script>
            <script src="dist/js/vendor/what-input.js"></script>
            <script src="dist/js/vendor/foundation.js"></script>
            <script src="dist/js/app.js"></script>
            <script type="module" src="dist/js/main.js"></script>
        </body>
    </html>