<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Liam Keery | Vivid Agency</title>
        <link rel="stylesheet" href="/css/foundation.css" />
        <script src="https://kit.fontawesome.com/5a7dc109cc.js"
            crossorigin="anonymous"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
        <link rel="stylesheet"
            href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
        <link rel="stylesheet" href="/css/hover.css" />
        <link rel='stylesheet' href="/css/main.css" />
        <link rel="shortcut icon" href="/images/favicon.ico"
            type="image/x-icon">
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    </head>
    <body>

        <div class="hero-full-screen">

            <div class="top-content-section">
                <div class="title-bar" data-responsive-toggle="responsive-menu"
                    data-hide-for="medium">
                    <div class="title-bar-left">
                        <ul class="menu">
                            <li><a href="/#projects"><i class="fas
                                        fa-chevron-left"></i></a></li>
                        </ul>
                    </div>
                    {{!-- <div class="title-bar-right">
                        <button class="menu-icon" type="button"
                            data-toggle="responsive-menu"></button>
                    </div> --}}
                </div>

                <div class="top-bar hide-for-small-only">
                    <div class="top-bar-left" data-sticky-container>
                        <ul class="menu" data-sticky>
                            <li><a href="/#projects"><i class="fas
                                        fa-chevron-left"></i></a></li>
                        </ul>
                    </div>
                    {{!-- <div class="top-bar-right" id="responsive-menu">
                        <ul class="menu">
                            <li><a href="/">Home</a></li>
                            <li><a href="#projects">Work</a></li>
                            <li><a href="#about">Contact</a></li>
                        </ul>
                    </div> --}}
                </div>
            </div>

            <div class="middle-content-section animated fadeInDown">
                <h1 class="main-title">Vivid Agency (Hackathon)</h1>
                <hr class="title-hr">
                <h2 class="disc">UX / UI DESIGN</h2>
                <h3 class="role">TEAM PROJECT</h3>
                <p><img src="images/sketch.svg" alt="Sketch"></p>
                <p>View the <a class="repo" href="https://github.com/lkeery/vivid-agency-bootcamp">Github repository</a> for this project.</p>
            </div>

            <div class="bottom-content-section" data-magellan
                data-threshold="0">
                <a href="#main-content-section"><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24" height="24" viewBox="0 0 24 24"><path d="M24
                            12c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12
                            12 12 12-5.373
                            12-12zm-18.005-1.568l1.415-1.414 4.59 4.574
                            4.579-4.574 1.416
                            1.414-5.995 5.988-6.005-5.988z" /></svg></a>
                </div>
            </div>

            <div id="main-content-section"
                data-magellan-target="main-content-section"
                class="grid-container full">

                <img src="images/vivid-mockup.png" alt="Vivid" style="min-width: 350px;">
                <h1 class="heading">Overview</h1>
                <hr class="heading-hr">
                <p class="overview-text"><b>TEAM:</b> Liam Keery, Noah Fainer,
                    Natalie Soberano, Yasmina Mayot</p>
                <p class="overview-text"><b>DISCIPLINE:</b> UX/UI Design</p>
                {{!-- <p class="overview-text"><b>STACK:</b> node.js,
                    express.js, MySQL</p> --}}
                {{!-- <p class="overview-text"><b>LIBRARIES:</b> animate.css,
                    vivus.js, waypoints.js, Foundation 6</p> --}}
                <p class="overview-text"><b>SOFTWARE:</b>
                    Sketch</p>
                    

                <h1 class="heading">The Task</h1>
                <hr class="heading-hr">
                <p class="text">In under 24 hours, our task was to create a digital design agency brand with deliverables such as a responsive website and promotional video. My role in this project was the designer and I was responsible for the low and high-fidelity mockups of the website.</p>

                <h1 class="heading">Wireframe</h1>
                <hr class="heading-hr">
                <img src="images/vivid-wireframe.png" alt="Vivid" style="min-width: 350px;">

                <h1 class="heading">High-Fidelity Design</h1>
                <hr class="heading-hr">
                <img src="images/vivid-desktop.jpg" alt="Vivid" style="min-width: 350px;">
                {{!-- <img src="images/vivid-tablet.jpg" alt="Vivid">
                <img src="images/vivid-mobile.jpg" alt="Vivid"> --}}


                <footer class="cell">
                    <p class="footer-text">
                        Copyright &copy; 2019 Liam Keery.
                    </p>
                    <hr>
                    <nav class="footer-nav">
                        <ul class="menu align-center">
                            <li><a href="/">Home</a></li>
                            <li><a href="/#projects">Work</a></li>
                            <li><a href="https://docdro.id/IflNaGa">Resume</a></li>
                            <li><a href="/#about">Contact</a></li>
                        </ul>
                    </nav>
                </footer>
            </div>



            <script async src="https://unpkg.com/typer-dot-js@0.1.0/typer.js"></script>
            <script
                src="https://cdn.jsdelivr.net/npm/body-scroll-lock@2.6.4/lib/bodyScrollLock.min.js"></script>
            <script src="dist/js/vendor/jquery.js"></script>
            <script src="dist/js/vendor/what-input.js"></script>
            <script src="dist/js/vendor/foundation.js"></script>
            <script src="dist/js/app.js"></script>
            <script type="module" src="dist/js/main.js"></script>
        </body>
    </html>