@import '_vars';

.menu {
    font-family: $montserrat;
    color: $white;
    background: transparent;

    li {
        margin-right: 15px;
    }
}

.top-bar {
    margin-top: 25px;
    background: transparent;
    height: 70px;
}

.top-bar-right {
    margin-right: 25px;
}

.title-bar {
    background: transparent;
    height: 70px;
}

.top-bar ul {
    background: transparent;
}

.menu a {
    color: $white;
}

.menu a:hover {
    text-decoration: underline;
    text-decoration-color: #D8AA19;
    color: $white;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    .top-bar ul {
        justify-content: center;
        display: block;
        text-align: center;
    }
}



