@import '_vars';

#skills {
    padding-top: 36px;
    padding-bottom: 36px;
    -webkit-box-shadow: 0px 11px 7px -2px rgba(179,179,179,1);
    -moz-box-shadow: 0px 11px 7px -2px rgba(179,179,179,1);
    box-shadow: 0px 11px 7px -2px rgba(179,179,179,1);

    hr {
        border: 2px solid #D8AA19;
        width: 40%;
        text-align: center;
        margin-bottom: 30px;
    }

    h1 {
        font-family: $roboto;
        text-align: center;
        color: white;
    }

    #software {
        ul {
            display: inline-block;
            margin-right: 16px;
        }
    }

    #development {
        ul {
            display: inline-block;
            margin-right: 16px;
        }
    }

    li {
        font-family: $montserrat;
        color: #999999;
    }

    .list-center {
        width: fit-content;
        margin: 0 auto;
    }
}

@media screen and (max-width: 39.9375em) {
    #skills {
        h1 {
            font-size: 2rem;
        }
    }

    #software {
        ul {
            margin-bottom: 36px;
        }
    }

    #design {
        ul {
            margin-bottom: 36px;
        }
    }
 }